<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchoolHub</title>
    <link href="~/assets/css/tabler.css" rel="stylesheet" />
    <link href="~/assets/css/demo.css" rel="stylesheet" />
    <link href="~/assets/css/icons/tabler-icons/tabler-icons.css" rel="stylesheet" />
    <script src="~/assets/js/site.js"></script>
</head>
<body>
    <div class="page">
        <script src="~/assets/js/demo-theme.js"></script>
        @{
            await Html.RenderPartialAsync("_Menu");
            await Html.RenderPartialAsync("_Navbar");
        }
        <div class="page-wrapper">
            <div class="page-body">
                @RenderBody()
            </div>

            @{
                await Html.RenderPartialAsync("_Footer");
            }
        </div>
    </div>
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/demo.js"></script>
    <script src="~/assets/js/tabler.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
