﻿﻿@using Microsoft.AspNetCore.Identity
@using SchoolHub.Common.Models.Usuarios
@inject SignInManager<Usuario> SignInManager

<ul class="navbar-nav">
    <a class="dropdown-item" asp-area="" asp-controller="account" asp-action="logout">Logout</a>
</ul>